<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontak saya</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/dark_theme.css">
</head>
<body>

    <nav class="navbar">
            <div class="logo">
            Mahardika
            </div>
        <ul class="menu">
            <li><a href="tentang.html">Tentang saya</a></li>
            <li><a href="skill.html">Skill</a></li>
            <li><a href="kontak.html">Kontak</a></li>
            <li><a href="profile.html">back to home</a></li>
        </ul>
        <button class="theme-toggle-btn" id="themeToggle" aria-label="Toggle dark mode">Mode Gelap</button>
        </nav>

    <footer id="kontak">
        <p>Hubungi saya di: mahardika@gmail.com</p>
    </footer>

    <script src="../js/script.js"></script>
</body>
</html>